{% macro markdown(content) %}
    <div>{{ content|markdown }}</div>
{% endmacro %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <style>{% include "assets/pico.min.css" %}</style>
    <style id="prism-dark" media="max-width: 1px">{% include "assets/prism-night.css" %}</style>
    <style id="prism-light">{% include "assets/prism-default.css" %}</style>
    <style>{% include "assets/merkury.css" %}</style>
    <script>{% include "assets/merkury-themes.js" %}</script>
</head>
<body>
<nav class="container merkury-container merkury-head">
    <ul>
        <li>
            <hgroup>
            {% block header %}{% endblock %}
            </hgroup>
        </li>
    </ul>
    <ul>
        {% if server_mode %}
            <li class="merkury-icon-prefix">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-home"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                <a href="/">
                    Home
                </a>
            </li>
            <li class="merkury-icon-prefix">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-player-play"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M7 4v16l13 -8l-13 -8" /></svg>
                <a href="{{ execute_link }}">
                    Execute
                </a>
            </li>
        {% endif %}
        <li>
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-moon"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /></svg>
            <input type="checkbox" id="dark-light-mode" name="dark-light-mode" role="switch" onchange="change_theme()" checked>
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-sun"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>
        </li>
    </ul>
</nav>
{% block content %}{% endblock %}
<footer class="container merkury-container merkury-foot">
    <small>
        {% block footer %}{% endblock %}
        <p>Generated with <a target="_blank" href="https://github.com/ppatrzyk/merkury">merkury</a> v{{ version }}.</p>
    </small>
</footer>
</body>
</html>