{% extends "base.html.jinja" %}
{% block title %}
{{ title }}
{% endblock %}
{% block header %}
<h1>{{ title }}</h1>
<p>{{ timestamp }}</p>
{% endblock %}
{% block content %}
<main class="container merkury-container">
    {% if toc %}
        <aside class="merkury-toc">
            <nav>
                <h2>Contents</h2>
                <div>
                    <ul>
                    {% for chunk in chunks %}
                        <li><a href="#merkury-chunk-{{ chunk.number }}">{{ chunk.title }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </nav>
        </aside>
    {% endif %}
    <div class="merkury-chunks" role="document">
    {% for chunk in chunks %}
        <div class="merkury-code-block" id="merkury-chunk-{{ chunk.number }}">
            {% if show_input_blocks %}
            <details class="merkury-toggle">
                <summary class="grid merkury-chunk-in-grid">
                    <div role="button" class="merkury-toggle-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-python"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 9h-7a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h3" /><path d="M12 15h7a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-3" /><path d="M8 9v-4a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v5a2 2 0 0 1 -2 2h-4a2 2 0 0 0 -2 2v5a2 2 0 0 0 2 2h4a2 2 0 0 0 2 -2v-4" /><path d="M11 6l0 .01" /><path d="M13 18l0 .01" /></svg>
                    </div>
                    <div>
                        <h1 style="margin: 0;">{{ chunk.title }}</h1>
                    </div>
                </summary>
                <pre class="merkury-code-label" data-label="{{ chunk.chunk_duration_ms }}ms"><code class="language-python">{{ chunk.in|e }}</code></pre>
            </details>
            {% else %}
            <h1>{{ chunk.title }}</h1>
            {% endif %}
            <div>
            {% if chunk.html %}
                <object>{{ chunk.out }}</object>
            {% elif chunk.markdown %}
                {{ markdown(chunk.out) }}
            {% else %}
                <pre><code class="language-python">{{ chunk.out|e }}</code></pre>
            {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</main>
<script>{% include "assets/prism.js" %}</script>
{% endblock %}
{% block footer %}
<p>Script <em>{{ file_name }}</em> triggered by {{ author }} on {{ timestamp }}, ran in {{ total_duration_ms }}ms</p>
{% endblock %}