{% extends "base.html.jinja" %}
{% block title %}
{{ title }}
{% endblock %}
{% block header %}
<h1>{{ title }}</h1>
<p>{{ timestamp }}</p>
{% endblock %}
{% block content %}
<main class="container merkury-container">
    {% if toc %}
        <aside class="merkury-toc">
            <nav>
                <h2>Contents</h2>
                <div>
                    <ul>
                    {% for chunk in chunks %}
                        <li><a href="#merkury-chunk-{{ chunk.number }}">
                        {% if chunk.title is not none %}
                            {{ chunk.title }}
                        {% else %}
                            Chunk {{ chunk.number }}
                        {% endif %}
                        </a></li>
                    {% endfor %}
                    </ul>
                </div>
            </nav>
        </aside>
    {% endif %}
    <div class="merkury-chunks" role="document">
    {% for chunk in chunks %}
        <div class="merkury-code-block" id="merkury-chunk-{{ chunk.number }}">
        {% if chunk.title is not none %}
            <h2>{{ chunk.title }}</h2>
        {% endif %}
        {% if show_input_blocks %}
            <details>
                <summary>In [{{ chunk.number }}]</summary>
                <pre><code class="language-python">{{ chunk.in|e }}</code></pre>
            </details>
            <details open>
                <summary>Out [{{ chunk.number }}]</summary>
        {% endif %}
            {% if chunk.html %}
                <object>{{ chunk.out }}</object>
            {% elif chunk.markdown %}
                {{ markdown(chunk.out) }}
            {% else %}
                <pre><code class="language-python">{{ chunk.out|e }}</code></pre>
            {% endif %}
        {% if show_input_blocks %}</details>{% endif %}
        </div>
    {% endfor %}
    </div>
</main>
<script>{% include "assets/prism.js" %}</script>
{% endblock %}
{% block footer %}
<p>Script <em>{{ file_name }}</em> triggered by {{ author }} on {{ timestamp }}, ran in {{ duration_ms }}ms</p>
{% endblock %}