:root {
  font-family: system-ui, sans-serif;
}
.code-block {
  margin-bottom: 2em;
}
.foot {
  text-align: center;
  padding-top: 0 !important;
}
.head {
  padding-top: 4em;
}
{% if toc %}
@media (min-width:992px) {
  .container {
    width: 80%;
  }
  aside {
    position: sticky;
    align-self: start;
    top: 0;
    max-height: calc(100vh - 5em);
    overflow-x: hidden;
    overflow-y: auto;
  }
  main {
    display: grid;
    align-items: start;
    grid-template-columns: 20% auto;
    column-gap: 1em;
  }
}
{% else %}
@media (min-width:992px) {
  .container {
    width: 67%;
  }
}
{% endif %}
