:root {
  font-family: system-ui, sans-serif;
  --pico-line-height: 1.5;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.merkury-icon-prefix {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.merkury-chunks {
  min-width: 0;
}
.merkury-chunk-in-grid {
  grid-template-columns: max-content 1fr;
  align-items: center;
}
.merkury-chunk-in-grid::after {
  content: none;
  display: none;
}
.merkury-toggle {
  padding: 0.5rem 0.75rem;
}
.merkury-code-block {
  margin-bottom: 2em;
}
.merkury-code-label {
  position: relative;
  padding-top: 2.5rem;
  overflow: hidden;
}
.merkury-code-label::before {
  content: attr(data-label);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.35rem 0.75rem;
  color: var(--pico-secondary);
  font-size: 75%;
}
.merkury-plot-iframe {
  overflow: hidden;
  display: block;
}
.merkury-plot-container {
  display: flex;
  justify-content: center;
}
.merkury-foot {
  text-align: center;
  padding-top: 0 !important;
  margin-top: auto;
}
.merkury-head {
  padding-top: 4em;
}
#dark-light-mode {
  margin: 0;
}
{% if toc %}
@media (min-width:992px) {
  .merkury-container {
    width: 80%;
  }
  .merkury-toc {
    position: sticky;
    align-self: start;
    top: 0;
    max-height: calc(100vh - 5em);
    overflow-x: hidden;
    overflow-y: auto;
  }
  main {
    display: grid;
    align-items: start;
    grid-template-columns: 20% auto;
    column-gap: 1em;
  }
}
{% else %}
@media (min-width:992px) {
  .merkury-container {
    width: 67%;
  }
}
{% endif %}
